extends ../layout

block header
  #banner
    .lazy-box.unloaded

block content
  //- search box
    #search.pure-g.pure-skin-pink
      .pure-u-4-5.input-box
        input(type='text')
      .pure-u-1-5.btn-box
        a.pure-button(onclick='doSearch()')
          i.fa.fa-search
  include nav
  #brands-div.pure-skin-pink.none
    .pure-menu.pure-menu-open.menu
      a.pure-menu-heading.title 品牌列表
  #boards-div
