form.pure-form.purchase-form
  .line
    label.label(for='num') 数量
    button.btn.delta-btn(onclick='deltaNum(-1);return false')
      i.fa.fa-minus
    input#num(type='text', value='1')
    button.btn.delta-btn(onclick='deltaNum(1);return false')
      i.fa.fa-plus
  .pure-g.buttons
    .pure-u-1-2
      button.btn.secondary(onclick='addToCart();return false') 加入购物车
    .pure-u-1-2
      button.btn.primary.pull-right(onclick='gotoCart();return false') 立即购买
