form.pure-form.purchase-form
  .line
    label.label(for='num') 数量
    a.btn.delta-btn(onclick='deltaNum(-1)')
      i.fa.fa-minus
    input#num(type='text', value='1')
    a.btn.delta-btn(onclick='deltaNum(1)')
      i.fa.fa-plus
  .pure-g.buttons
    .pure-u-1-2
      a.btn.secondary(onclick='addToCart()') 加入购物车
    .pure-u-1-2
      a.btn.primary.pull-right(onclick='gotoCart()') 立即购买
