@import "config";

#banner {
  .lazy-box {
    &.unloaded {
      overflow-y: hidden;
      // banner min-height 150px
      height: 150px;
    }
  }
}

#content {
  margin-top: 6px;
}

#nav {
  margin: 10px 0 0;
  font-size: 115%;
  a.nav-btn {
    background-color: @nav-btn-bgcolor;
    color: @nav-btn-color;
    display: block;
    width: 95%;
    padding: 12px 0;
    &:hover, &:focus, &.active {
      background-color: @nav-btn-bgcolor-hover;
    }
    i, span {
      display: block;
    }
    i {
      font-size: 240%;
    }
  }
}

#brands-div {
  margin-top: 3px;
  position: absolute;
  width: 80%;
  left: 10%;
  font-size: 120%;
  .menu {
    background: @menu-bgcolor;
    border: 4px solid @menu-border-color;
    max-width: 500px;
    margin: 0 auto;
    .title {
      color: @menu-title-color;
      border-bottom: solid 1px @menu-border-color;
      margin-top: 0.5em;
      font-size: 120%;
    }
    a {
      color: @menu-color;
      &:hover, &:focus {
        background-color: @menu-btn-bgcolor-hover;
      }
    }
  }
}

#boards-div {
  ul {
    margin: 10px 0 -8px;
    li {
      margin-bottom: 8px;
      .lazy-box {
        &.unloaded {
          overflow-y: hidden;
          // board min-height 100px
          height: 100px;
        }
      }
    }
  }
}
