body {
  color: #575757;
}
a, button {
  cursor: pointer;
}
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.none {
  display: none;
}
.default {
  cursor: default !important;
}
.pull-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.trailing:after {
  content: " ";
}
.alertify-message {
  font-size: 130%;
}
.price {
  color: #FF0E30;
}
.lazy-box {
  &.unloaded {
    // box background
    background-color: #f6f6f6;
    img {
      // box background instead of src placeholder
      visibility: hidden;
    }
  }
}

.square {
  position: relative;
  &:before {
    content: "";
    display: block;
    padding-top: 100%;  /* img-box square 1:1 */
  }
  > .square-inner {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

#header {
  background-color: #F17489;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  .header-box {
    display: block;
    color: white;
    padding: 9px 0 5px;
    text-align: center;
  }
  a.header-btn {
    &:hover, &:focus {
      background-color: #F9A4B2;
    }
    width: 100%;
    i {
      height: 100%;
    }
  }
  .title-text {
    font-size: 150%;
    margin: 2px 0 0;
  }
}

#content {
  max-width: 600px;
  margin: 48px auto 42px;
  padding: 0 10px 12px;
}

#footer {
  background-color: #555;
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
  .pure-g {
    > div {
      float: left;
    }
  }
  a.footer-btn {
    display: block;
    padding: 5px 0;
    text-align: center;
    &.active {
      background-color: #F17489;
    }
    &:hover, &:focus {
      background-color: #aaa;
    }
  }
}
