#form-div {
  font-size: 120%;
  padding: 10px 10px 0;
  input {
    width: 100%;
  }
  .profile-box {
    > .pure-g {
      margin: 0 0 4px;
    }
    label, input {
      display: inline-block;
    }
    label {
      margin: .2em 0;
    }
    input {
      padding: .2em .6em !important;
    }
  }
  .pay-box {
    border-top: solid 2px #eee;
    padding: 12px 0 0;
    .way {
      color: #5eb95e;
    }
    .cost-box {
      margin: 6px 0 0;
      font-size: 110%;
    }
  }
  fieldset.submit-box {
    border-top: solid 2px #eee;
    margin: 16px 0 0;
    padding: 12px 0 0;
    input {
      margin: 0 0 10px !important;
    }
    .submit-btn {
      padding: .5em 0;
      width: 100%;
    }
  }
}
