extends layout

block header
  include header

block content
  script#item-tmpl(type='text/x-template')
    li.pure-u-1.item-li
      .item-box(data-id='{{- id }}')
        .pure-g
          .pure-u-1-12
            .pure-skin-pink.col-box.tick-box
              | <a class="pure-button tick{{- checked? ' on': '' }}">
              i.fa.fa-check
              | </a>
          .pure-u-1-3
            .col-box
              a(href='detail.html?id={{- id }}')
                .img-box
                  img.lazy(data-original='{{- image }}')
          .pure-u-7-12
            .col-box.desc-box
              .title {{- title }}
              .pure-form
                span.price ￥{{- _price.toFixed(1) }}
                i.fa.fa-times
                input.num(type='text', value='{{- num }}')
  ul#items-list.pure-g

  script#order-tmpl(type='text/x-template')
    .pure-g
      .pure-u-2-3
        .cost-box
          span.trailing 合计:
          span.price ￥{{- cost.toFixed(1) }}
      .pure-u-1-3
        .pure-skin-pink.btn-box
          a.pure-button.pure-button-primary(onclick='gotoOrder()') 结算({{- count }})
  #order-div
