footer#footer
  .pure-g
    .pure-u-1-3
      a.footer-box(href='index.html')
        i.fa.fa-2x.fa-inverse.fa-home
    .pure-u-1-3
      a.footer-box(href='orders.html')
        i.fa.fa-2x.fa-inverse.fa-user
    .pure-u-1-3
      a.footer-box(href='cart.html')
        i.fa.fa-2x.fa-inverse.fa-shopping-cart
