header#header
  div.pure-g
    div.pure-u-1-6
      a.header-box.header-btn.back-btn(onclick='history.back()')
        i.fa.fa-2x.fa-spinner.fa-spin
    div.pure-u-2-3
      div.header-box.title-text
    div.pure-u-1-6
      block top-right
