extends layout

block header
  script#banner-tmpl(type='text/x-template')
    | <a{{= href ? ' href="' + href + '" class=""': ' class="default"' }}>
    //- banner min-height 150px
    img.lazy(alt='{{= alt }}', src=transparent, data-original='{{= src }}')
    | </a>
  #banner
    .lazy-box.unloaded

block content
  //- search box
    #search.pure-g.pure-skin-pink
      .pure-u-4-5.input-box
        input(type='text')
      .pure-u-1-5.btn-box
        a.pure-button(onclick='doSearch()')
          i.fa.fa-search

  #nav
    .pure-g
      .pure-u-1-4
        a.nav-btn.pull-left(href='items.html?tags=日用')
          i.fa.fa-sun-o
          span 日用
      .pure-u-1-4
        a.nav-btn.pull-center(href='items.html?tags=夜用')
          i.fa.fa-moon-o
          span 夜用
      .pure-u-1-4
        a.nav-btn.pull-center(href='items.html?tags=护垫')
          i.fa.fa-heart-o
          span 护垫
      .pure-u-1-4
        .nav-box
          a#brands-btn.nav-btn.pull-right(onclick='showBrands()')
            i.fa.fa-gift
            span 品牌

  script#brand-tmpl(type='text/x-template')
    li.pure-u-1-2
      a(href='items.html?brand={{- name }}') {{- name }}

  #brands-div.pure-skin-pink.none
    .pure-menu.pure-menu-open.menu
      a.pure-menu-heading.title 品牌列表
      ul.pure-g.list

  script#board-tmpl(type='text/x-template')
    li.board-li.lazy-box
      | <a{{= href ? ' href="' + href + '" class=""': ' class="default"' }}>
      //- board min-height 100px
      .lazy-box.unloaded
        img.lazy(alt='{{= alt }}', src=transparent, data-original='{{= src }}')
      | </a>
  ul#boards-list
