extends layout

block head
  link(rel='stylesheet'
  href='css/items-bundle.min.css')

block tail
  script(src='js/items-bundle.min.js')

block header
  include header

block content
  #sort-box.pure-skin-pink
    a.pure-button.sort-key(data-by='!sales') 销量
    a.pure-button.sort-key(data-by='-price') 价格

  script#item-tmpl(type='text/x-template')
    li.pure-u-1-2.item-li
      a.item-box(href='detail.html?id={{- id }}')
        .item
          //- img-box square 1:1
          .img-box
            .img-inner
              img.lazy(data-original='{{- image }}')
          .desc-box
            .title {{- title }}
            .price ￥{{- _price.toFixed(1) }}
  ul#items-list.pure-g
