doctype html
html(lang='zh-CN')
  head
    include meta
    title= meta.title
    link(rel='stylesheet', href='css/_deps.css')
    link(rel='stylesheet', href='css/_site.css')
    link(rel='stylesheet', href='css/#{page.name}.css')
    block head
  body
    - var transparent = 'images/transparent.gif'
    block header
    #content
      block content
    include footer
    script(src='js/_deps.js')
    script(src='js/_site.js')
    script(src='js/#{page.name}.js')
    block tail
