doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')/
    //- avoid browser cache
    meta(http-equiv='Cache-Control', content='no-cache, no-store, must-revalidate')/
    meta(http-equiv='Pragma', content='no-cache')/
    meta(http-equiv='Expires', content='0')/
    //- for small devices
    meta(name='viewport'
    content='width=device-width, initial-scale=1.0, user-scalable=no')/
    //- about the site
    meta(name='keywords'
    content='GREATME,闺蜜,M巾,卫生巾,五邑大学,袂卓')/
    meta(name='description'
    content='GREATME闺蜜,五邑大学,女生M斤卫生巾送货上门,袂卓出品')/
    title
    block head
  body
    block header
    #content
      block content
    include footer
