doctype html
html(lang='zh-CN')
  head
    include meta
    title= title
    link(rel='stylesheet', href='css/#{name}-bundle.min.css')
    block head
  body
    block header
    #content
      block content
    include footer
    script(src='js/#{name}-bundle.min.js')
    block tail
