extends layout
block head
  - var name = 'orders';
  link(rel='stylesheet'
  href='css/#{name}-bundle.min.css')
  script(src='js/#{name}-bundle.min.js')

block header
  include header

block content
  script#order-tmpl(type='text/x-template')
    li.pure-u-1.order-li
      .order-box
        | {{ _.each(items, function(item) { }}
        .pure-g
          .pure-u-1-3
            .col-box
              a(href='detail.html?id={{- item.id }}')
                .pull-center.img-box
                  img.lazy(data-original='{{- item.image }}')
          .pure-u-2-3
            .col-box.desc-box
              .title {{- item.title }}
              div
                span.price ￥{{- item._price.toFixed(1) }}
                i.fa.fa-times
                span {{- item.num }}
        | {{ }); }}
        .pure-g.order-desc
          .pure-u-2-3
            .cost-box
              span.trailing 实付款:
              span.price ￥{{- cost.toFixed(1) }}
          .pure-u-1-3
            .status-box
              span.status {{- status || '谢谢惠顾' }}
          | {{ if (extra.message) { }}
          .pure-u-1
            .message-box
              span.trailing 留言:
              span.message {{- extra.message }}
          | {{ } }}
  ul#orders-list.pure-g
